.content {
	width: 100%;
	padding-top: 0%;
	/* margin : 0px auto; */
	background-color: #ffffff;
}

div#container {
	padding-left: 20px;
	padding-right: 20px;
	/*margin-left: 15%;
	margin-right: 15%; */
	/* width: 1000px; */
	width: 60%;
	margin: 0 auto;
	text-align: left;
	/* position: relative; */
	background-color: #FFF;
}

.student-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* justify-content: center; */
	align-items: flex-start;
	text-align:center;
	width: 100%;
	height: 100%;
}
	
	.student-container .student{
		width: 25%;
		height: 100%;
		padding: 0rem;		
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.student-container .student img{
		width: 14rem;
		height: 14rem;
		border-radius: 7rem;
		margin: 0.5rem;
		border: #eee 0.5rem solid;
	}

	@media screen and (max-width: 1200px) {
		.student-container .student{
			width: 30%;	
		}

		.student-container .student img{
			width: 12rem;
			height: 12rem;
			border-radius: 6rem;
			border: #eee 0.3rem solid;
		}
	}

	@media screen and (max-width: 800px) {
		.student-container .student{
			width: 50%;	
		}
		.student-container .student img{
			width: 8rem;
			height: 8rem;
			border-radius: 4rem;
			border: #eee 0.2rem solid;
		}
	}